@model IEnumerable<MvcMovie.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>상품관리</h1>

<form asp-controller="Products" asp-action="Index" method="get" >
    <p>
    재고품명: <input type="text" name="SearchString">
    <input type="submit" value="검색" />
    <input type="submit" asp-action="Index" value="돌아가기">
    </p>
</form>
<table class="table table-bordered" style="text-align: center;">
    <thead>
        <tr>

            <th>품목명</th>
            <th>사이즈</th>
            <th>수량</th>

            <th>공급가</th>
            <th>소비자가격_정가</th>
            <th>창고위치</th>
            <th>단위</th>
            <th>브랜드</th>

            <th>수정</th>
            <th>삭제</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.p_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.p_measure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.p_many)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.p_comprice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.p_customerprice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.p_location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.p_amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.p_brandname)
                </td>

                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.p_code">Edit</a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.p_code">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-warning" asp-controller="Products" asp-action="Create">상품추가</a>